<div>
  <button class="MR-1" color="primary" (click)="addPatient()" mat-raised-button>New Patient</button>
  <button class="MR-1" color="primary" (click)="viewAllPatient()" mat-raised-button>View All Patient</button>
  <button class="MR-1" color="primary" (click)="viewAllCases()" mat-raised-button>View All Cases</button>
  <button class="MR-1" color="primary" (click)="viewChartjs()" mat-raised-button>View Chart js</button>
  <button color="primary" (click)="viewNjxChart()" mat-raised-button>View Njx Charts</button>
</div>
<h1>
  Apply filter
</h1>
<mat-grid-list cols="3" rowHeight="90px" class="matgrid" class="mat-elevation-z8 p-all m-all">
  <mat-grid-tile class="matgrid">
        <mat-form-field appearance="outline">
          <mat-label>Patient First Name:</mat-label>
          <input matInput type="text" [(ngModel)]="firstName" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="matgrid">
        <mat-form-field appearance="outline">
          <mat-label>Patient Middle Name:</mat-label>
          <input matInput type="text" [(ngModel)]="middleName" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="matgrid">
        <mat-form-field appearance="outline">
          <mat-label>Patient Last Name:</mat-label>
          <input matInput type="text" [(ngModel)]="lastName" />
        </mat-form-field>
      </mat-grid-tile>
    

      <mat-grid-tile class="matgrid">
        <mat-form-field appearance="outline">
          <mat-label>Case ID:</mat-label>
          <input matInput type="number" [(ngModel)]="caseId" />
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Category Name:</mat-label>
          <input matInput type="text" [(ngModel)]="categoryName" />
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Purpose of Visit:</mat-label>
          <input matInput type="text" [(ngModel)]="purposeOfVisit" />
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
      
          <mat-label>Case Type:</mat-label>
          <input matInput type="text" [(ngModel)]="caseType" />
        </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Practice Location:</mat-label>
          <input matInput type="text" [(ngModel)]="practiceLocation" />
        </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Insurance Name:</mat-label>
          <input matInput type="text" [(ngModel)]="insuranceName" />
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Firm Name:</mat-label>
          <input matInput type="text" [(ngModel)]="firmName" />
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid">
          <mat-form-field appearance="outline">
          <mat-label>Doctor Name:</mat-label>
          <input matInput type="text" [(ngModel)]="doctor" />
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid">
        <button mat-raised-button color="primary" (click)="search()">Search</button>
        </mat-grid-tile>
  
</mat-grid-list>
<div *ngIf="retrievedData && retrievedData.length > 0 ">
<div>
  <h2 class="p-all m-all">Patients List</h2>
  <table mat-table [dataSource]="retrievedData" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="patientId">
      <mat-header-cell *matHeaderCellDef>Patient ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.PatientId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="patientName">
      <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.PatientFirstName }} {{ data.PatientMiddleName }} {{ data.PatientLastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="caseId">
      <mat-header-cell *matHeaderCellDef>Case ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.CaseId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef>Category Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.categoryName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="purposeOfVisit">
      <mat-header-cell *matHeaderCellDef>Purpose Of Visit</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.purposeOfVisit }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="caseType">
      <mat-header-cell *matHeaderCellDef>Case Type</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.caseType }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef>Patient DoB</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.Patient_DOB }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="practiceLocation">
      <mat-header-cell *matHeaderCellDef>Practice Location</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.practiceLocation }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="insuranceName">
      <mat-header-cell *matHeaderCellDef>Insurance Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.insuranceName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firmName">
      <mat-header-cell *matHeaderCellDef>Firm Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.firmName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="doa">
      <mat-header-cell *matHeaderCellDef>Date of Accident</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.CaseDOA}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="doctor">
      <mat-header-cell *matHeaderCellDef>Doctor Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.doctorFirstName }} {{ data.doctorMiddleName }} {{ data.doctorLastName }}</mat-cell>
    </ng-container>
    <!-- ... Repeat the other columns here ... -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-raised-button color="primary" (click)="editPatient(data.PatientId, data.CaseId)">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-raised-button color="warn" (click)="deletePatient(data.CaseId, data.AppointmentId, data.PatientId)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="custom-row"  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="custom-row"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>

</div>

<h2 id="message"></h2>