<mat-paginator [length]="totalItems" [pageSizeOptions]="pageSizeOptions" (page)="setPage($event)" aria-label="Select page">
</mat-paginator>
<h1>
  Apply filter
</h1>

<mat-grid-list [formGroup]="filterForm" cols="4" rowHeight="130px" class="matgrid" class="mat-elevation-z10 p-all m-all">
  
  <mat-grid-tile class="matgrid greats">
        <mat-form-field appearance="outline">
          <mat-label>Patient First Name:</mat-label> 
          <mat-select (selectionChange)="onFilterChange('firstName', $event)">
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch/>
            <mat-option *ngFor="let name of uniquePatientFN" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="matgrid greats">
        <mat-form-field appearance="outline">
          <mat-label>Patient Middle Name:</mat-label>
          <mat-select  (selectionChange)="onFilterChange('middleName', $event)">
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch />
            <mat-option *ngFor="let name of uniquePatientMN" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="matgrid greats">
        <mat-form-field appearance="outline">
          <mat-label>Patient Last Name:</mat-label>
          <mat-select  (selectionChange)="onFilterChange('lastName', $event)">
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch/>
            <mat-option *ngFor="let name of uniquePatientLN" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    

      <mat-grid-tile class="matgrid greats">
        <mat-form-field appearance="outline">
          <mat-label>Case ID:</mat-label>
          <input matInput type="number" formControlName="caseId" />
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Category Name:</mat-label>
          <mat-select  (selectionChange)="onFilterChange('categoryName', $event)">
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch />
            <mat-option *ngFor="let name of uniqueCategoryName" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Purpose of Visit:</mat-label>
          <mat-select >
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch/>
            <mat-option *ngFor="let name of uniquePoV" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
      
          <mat-label>Case Type:</mat-label>
          <mat-select >
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch/>
            <mat-option *ngFor="let name of uniqueCaseType" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Practice Location:</mat-label>
          <mat-select >
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch />
            <mat-option *ngFor="let name of uniquePracticeLocation" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Insurance Name:</mat-label>
          <mat-select >
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch/>
            <mat-option *ngFor="let name of uniqueInsuranceName" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Firm Name:</mat-label>
          <mat-select >
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch />
            <mat-option *ngFor="let name of uniqueFirmNames" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="matgrid greats">
          <mat-form-field appearance="outline">
          <mat-label>Doctor Name:</mat-label>
          
          <mat-select  (selectionChange)="onDoctorChange($event)" multiple>
            <input type="text" autocomplete="off" matInput (input)="onInputChange()" #multiUserSearch>
              <mat-option  *ngFor="let name of uniqueDoctor" [value]="name">{{ name }}</mat-option>
          </mat-select>
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile class="matgrid greats">
        <button mat-raised-button color="primary" (click)="search()">Search</button>
        </mat-grid-tile>
      
</mat-grid-list>
<div *ngIf="retrievedData && retrievedData.length > 0 ">
<div>
  <h2 class="p-all m-all">Patients List</h2>
  <table mat-table [dataSource]="retrievedData" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="patientId">
      <mat-header-cell *matHeaderCellDef>Patient ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.PatientId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="patientName">
      <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.PatientFirstName }} {{ data.PatientMiddleName }} {{ data.PatientLastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="caseId">
      <mat-header-cell *matHeaderCellDef>Case ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.CaseId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="appointmentId">
      <mat-header-cell *matHeaderCellDef>Appointment ID</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.AppointmentId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoryName">
      <mat-header-cell *matHeaderCellDef>Category Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.categoryName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="purposeOfVisit">
      <mat-header-cell *matHeaderCellDef>Purpose Of Visit</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.purposeOfVisit }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="caseType">
      <mat-header-cell *matHeaderCellDef>Case Type</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.caseType }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef>Patient DoB</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.Patient_DOB | date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="practiceLocation">
      <mat-header-cell *matHeaderCellDef>Practice Location</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.practiceLocation }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="insuranceName">
      <mat-header-cell *matHeaderCellDef>Insurance Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.insuranceName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firmName">
      <mat-header-cell *matHeaderCellDef>Firm Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.firmName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="doa">
      <mat-header-cell *matHeaderCellDef>Date of Accident</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.CaseDOA | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="doctor">
      <mat-header-cell *matHeaderCellDef>Doctor Name</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.doctorFirstName }} {{ data.doctorMiddleName }} {{ data.doctorLastName }}</mat-cell>
    </ng-container>
    <!-- ... Repeat the other columns here ... -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-raised-button color="primary" (click)="editPatient(data.PatientId, data.CaseId,data.AppointmentId)">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <button mat-raised-button color="warn" (click)="deletePatient(data.CaseId, data.AppointmentId, data.PatientId)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="custom-row"  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="custom-row"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>

</div>

<h2 id="message"></h2>