<div *ngIf="noAppointmentAssigned()">
    <h1>No appointment assigned to Case</h1>
</div>

<form
  class="appointmentForm"
  [formGroup]="updateAppointmentForm"
  (ngSubmit)="updateAppoint()"
  *ngIf="!noAppointmentAssigned()"
  novalidate
>
  <mat-grid-list cols="3" rowHeight="90px" class="matgrid">
    <!-- Appointment Date -->
    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Appointment Date</mat-label>
        <input
          matInput
          [matDatepicker]="appointmentDatePicker"
          formControlName="appointmentDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="appointmentDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #appointmentDatePicker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Appointment Time -->
    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Appointment Time</mat-label>
        <input matInput type="time" formControlName="appointmentTime" />
      </mat-form-field>
    </mat-grid-tile>

    <!-- Appointment Type -->
    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Appointment Type</mat-label>
        <input
          matInput
          placeholder="Appointment Type"
          formControlName="appointmentType"
        />
      </mat-form-field>
    </mat-grid-tile>

    <!-- Specialty -->
    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Specialty</mat-label>
        <mat-select formControlName="specialtyId">
          <mat-option
            *ngFor="let specialty of specialtyInfo"
            [value]="specialty.id"
          >
            {{ specialty.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateAppointmentForm.get('specialtyId').hasError('required')"
          >Select Specialty</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

    <!-- Doctor -->
    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Doctor</mat-label>
        <mat-select formControlName="doctorId">
          <mat-option
            *ngFor="let doctor of doctorInfo"
            [value]="doctor.id"
          >
            {{ doctor.first_name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateAppointmentForm.get('doctorId').hasError('required')"
          >Select Doctor</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>
    <!-- Duration -->
    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Duration</mat-label>
        <input matInput placeholder="Duration" formControlName="duration" />
      </mat-form-field>
    </mat-grid-tile>

    
    
    <mat-grid-tile class="matgrid">
      <button (click)="onButtonClick()"
        color="primary"
        mat-raised-button
      >
        to home page
      </button>
    </mat-grid-tile>
      <mat-grid-tile class="matgrid">
        <button
          color="primary"
          [disabled]="!updateAppointmentForm.valid"
          mat-raised-button
        >
          ADD
        </button>
        
      
    </mat-grid-tile>
  </mat-grid-list>
</form>

