<div>
    <!-- *ngIf="retrievedData && retrievedData.length > 0 " -->
    <div>
      <h2>All Cases</h2>
      <table>
        <thead>
          <tr>
            <th>Case ID</th>
            <th>Case Type</th>
            <th>Insurance Name</th>
            <th>Firm Name</th>
            <th>doa</th>
            <th>practiceLocation</th>
            <th>caseTypeId</th>
            <th>category</th>
            <th>purposeOfVisit</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <ng-container 
             *ngFor="let info of casesInfo" >
            <tr>
              <td>{{ info.caseId }}</td>
              <td>{{info.caseType}}</td>
              <td>{{info.insuranceName}}</td>
              <td>{{info.firmName}}</td>
              <td>{{info.caseDOA}}</td>
              <td>{{info.practiceLocation}}</td>
              <td>{{info.caseType}}</td>
              <td>{{info.categoryName}}</td>
              <td>{{info.purposeOfVisit}}</td>
              <td>
                <button class="btnform" (click)="addAppointments(info.caseId)">Add Appointments</button>
              </td>
            </tr>
          </ng-container> 
        </tbody>
      </table>
    </div>
    </div>

