<div>
    <!-- *ngIf="retrievedData && retrievedData.length > 0 " -->
    <div>
      <h2>All Patients</h2>
      <table>
        <thead>
          <tr>
            <th>Patient ID</th>
            <th>Pateint Name</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container 
             *ngFor="let info of patientInfo" >
            <tr>
              <td>{{ info.id }}</td>
              <td>{{info.first_name}} {{info.middle_name}} {{info.last_name}}</td>
              <td>{{info.gender}}</td>
              <td>{{info.date_of_birth}}</td>
               <td>
                <button class="btnform" (click)="addCases(info.id)">AddCase & appointments</button>
              </td>
              <td>
                <button class="btnform" (click)="deletePatient(info.id)">Delete Patient</button>
              </td>
              
            
            </tr>
          </ng-container> 
        </tbody>
      </table>
    </div>
    </div>
