<div>
    <div>
      <h2>All Appointments</h2>
      <mat-table [dataSource]="appointmentInfo" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Appointment ID</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.id }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="appointmentDate">
          <mat-header-cell *matHeaderCellDef>Appointment Date</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.appointmentDate | date }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="appointmentTime">
          <mat-header-cell *matHeaderCellDef>Appointment Time</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.appointmentTime }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.duration }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="appointmentType">
          <mat-header-cell *matHeaderCellDef>Appointment Type</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.appointmentType }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="speciality">
          <mat-header-cell *matHeaderCellDef>Speciality</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.speciality }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="doctor">
          <mat-header-cell *matHeaderCellDef>Doctor</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.doctorName }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="caseId">
          <mat-header-cell *matHeaderCellDef>Case ID</mat-header-cell>
          <mat-cell *matCellDef="let info">{{ info.caseId }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let info">
            <button mat-raised-button color="warn" (click)="deleteAppointment(info.id)">Delete Appointments</button>
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="['id', 'appointmentDate', 'appointmentTime', 'duration', 'appointmentType', 'speciality', 'doctor', 'caseId','delete']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['id', 'appointmentDate', 'appointmentTime', 'duration', 'appointmentType', 'speciality', 'doctor', 'caseId', 'delete'];"></mat-row>
      </mat-table>
    </div>
  </div>
  
