<form class="caseForm" [formGroup]="caseForm" (ngSubmit)="addCase()" novalidate>
  <mat-grid-list cols="3" rowHeight="90px" class="matgrid">
    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Practice Location</mat-label>
        <mat-select formControlName="practiceLocationId">
          <mat-option
            *ngFor="let location of practiceInfo"
            [value]="location.id"
          >
            {{ location.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="caseForm.get('practiceLocationId').hasError('required')"
          >Select Practice Location</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

      <mat-grid-tile class="matgrid">
        <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option
              *ngFor="let category of categoryInfo"
              [value]="category.id"
            >
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="caseForm.get('categoryId').hasError('required')"
            >Select Category</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile class="matgrid">
        <mat-form-field>
          <mat-label>Select Purpose of Visit</mat-label>
          <mat-select formControlName="purposeOfVisitId">
            <mat-option
              *ngFor="let visit of visitInfo"
              [value]="visit.id"
            >
              {{ visit.PurposeOfVisit }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="caseForm.get('purposeOfVisitId').hasError('required')"
            >Select Purpose of Visit</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>

    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Case Type</mat-label>
        <mat-select formControlName="caseTypeId">
          <mat-option
            *ngFor="let case of caseTypeInfo"
            [value]="case.id"
          >
            {{ case.Name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="caseForm.get('caseTypeId').hasError('required')"
          >Select Case Type</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Date of Accident (DOA)</mat-label>
        <input matInput [matDatepicker]="doaPicker" formControlName="doa" />
        <mat-error *ngIf="caseForm.get('doa').hasError('required')"
          >Use mm/dd/yyyy Format</mat-error
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="doaPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #doaPicker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  Insurance Information
  <mat-grid-list cols="3" rowHeight="90px" class="matgrid">
    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Insurance</mat-label>
        <mat-select formControlName="insuranceId">
          <mat-option
            *ngFor="let insurance of insuranceInfo"
            [value]="insurance.id"
          >
            {{ insurance.insuranceName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="caseForm.get('insuranceId').hasError('required')"
          >Select Insurance Name</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>
<!-- 
    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="insuranceCity" />
        <mat-error *ngIf="caseForm.get('insuranceCity').hasError('required')"
          >Insurance City is required</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input matInput formControlName="insuranceState" />
        <mat-error *ngIf="caseForm.get('insuranceState').hasError('required')"
          >State is required</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile class="matgrid">
      <mat-form-field appearance="outline">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="insuranceZip" />
        <mat-error *ngIf="caseForm.get('insuranceZip').hasError('required')"
          >Zip is required</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>-->
 </mat-grid-list> 

  <!-- Firm Information -->
  Firm Information
  <mat-grid-list cols="3" rowHeight="90px" class="matgrid">
    <mat-grid-tile class="matgrid">
      <mat-form-field>
        <mat-label>Select Firm</mat-label>
        <mat-select formControlName="firmId">
          <mat-option *ngFor="let firm of firmInfo" [value]="firm.id">
            {{ firm.firmName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="caseForm.get('firmId').hasError('required')"
          >Select Firm Name</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile class="matgrid">
      <button color="primary" [disabled]="!caseForm.valid" mat-raised-button>
        ADD
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
